<!-- The above form looks like this -->
<div class="container">
  <br>
  <br>
  <form>
    <div class="row">

      <div class="six columns">
        <label for="name">Please choose who the hell you are !!</label>
        <select class="u-full-width" id="name">
          <option value="1">Jing Gao</option>
          <option value="2">Ken Cen</option>
          <option value="3">Harry Cui</option>
          <option value="3">Max Gong</option>
          <option value="3">Saisai Ma</option>
          <option value="3">Shihoko Takahashi</option>
        </select>
      </div>
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" id="password">
      </div>

    </div>
    <input class="button-primary" type="button" value="Enter" id="enter">
  </form>

</div>

