<div class="navbar-spacer"></div>

<nav class="navbar">
    <div class="container-fuild" style="margin-left: 2em;">
        <ul class="navbar-list">
            <li class="navbar-item">
                <span class="navbar-link">Argsen Internal Applications</span>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#" data-popover="#moreNavPopover"><i class="fab fa-product-hunt"></i>Prod</a>
                <div id="moreNavPopover" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/">ticket</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="http://www.argsen.com" target="_blank">Argsen website</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-wrapper">
    <div class="container-fuild">
        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="six columns">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>subject</th>
                            <th>receive date</th>
                            <th>isRead</th>
                            <th>preview</th>
                            <th>attachment</th>
                        </tr>
                    </thead>
                    <tbody id='table-body'>

                    </tbody>
                </table>
                <div class="u-full-width" style="padding-left: 10em;">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>
            <div class="six columns">
                <h6><strong>From : </strong> <span id='previewFrom'></span></h6>
                <div class="preview container-fuild" id="preview"></div>
                <br>
                <div class="row">
                    <div class="six columns">
                        <label for="exampleEmailInput">Create New Ticket</label>
                        <input class="u-full-width" type="text" disabled="true" id="displayTicket" />
                        <button class="button-primary u-full-width" type="button" id="generateTicket">Generate Ticket No.</button>
                    </div>
                    <div class="six columns">
                        <label for="exampleEmailInput">Throw to someone</label>
                        <input id="consumer" type="text" placeholder="whom you want to throw" data-role="tagsinput" />
                    </div>
                </div>

                <label for="commentTitle">Title</label>
                <input class="u-full-width" type="text" id="commentTitle" placeholder="Please input tilte" />

                <label for="commentMessage">Comment</label>
                <textarea class="u-full-width" placeholder="Hi......" id="commentMessage"></textarea>
                <label class="">
                    <input type="checkbox" id="withEmail">
                    <span class="label-body">Also attach this email as reference</span>
                </label>
                <button class="button-primary" id="throwJob" >Throw job </button><img class="loading-gif" id="loading-gif" src="/images/loading.gif" style="display:none;"></img>
            </div>
        </div>
    </div>
</div>



