<div class="container-wrapper">
    <div class="container-fuild">
        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="six columns">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>subject</th>
                            <th>receive date</th>
                            <th>isRead</th>
                            <th>preview</th>
                            <th>attachment</th>
                        </tr>
                    </thead>
                    <tbody id='table-body'>

                    </tbody>
                </table>

                <ul id="pagination-demo" class="pagination-sm"></ul>

            </div>
            <div class="six columns">
                <h6>From : <span id='previewFrom'></span></h6>
                <div class="preview container-fuild" id="preview"></div>
                <br>
                <div class="row">
                    <div class="six columns">
                        <label for="exampleEmailInput">Create Ticket</label>
                        <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                    </div>
                    <div class="six columns">
                        <label for="exampleEmailInput">Throw to someone</label>
                        <input id="consumer" type="text" placeholder="whom you want to throw" data-role="tagsinput" />
                    </div>
                </div>
                <label for="exampleMessage">Comment</label>
                <textarea class="u-full-width" placeholder="Hi......" id="exampleMessage"></textarea>
                <label class="example-send-yourself-copy">
                    <input type="checkbox">
                    <span class="label-body">Also attach this email as reference</span>
                </label>
                <input class="button-primary" type="submit" value="Throw job">
            </div>
        </div>
    </div>
</div>

<div class="container-fuild">

    

</div>


